@model IEnumerable<NetZadatak.Models.Proizvod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvodjac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dobavljac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvodjac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dobavljac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>

        </tr>
}
    </tbody>
</table>
